langchain==0.3.12
langchain-community
sentence-transformers
llama-index
torch==2.0.1
llama_index.llms.groq
pydantic
python-multipart
fastapi
uvicorn
streamlit
requests
python-dotenv
llama-index-embeddings-langchain
