langchain==0.3.12
langchain-community
sentence-transformers
llama-index-core
llama_index.llms.groq
llama-index-embeddings-langchain
torch==2.0.1
pydantic
python-multipart
fastapi
uvicorn
streamlit
requests
python-dotenv
transformers==4.37.0
llama-index-readers-file
